@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background-color: #353535;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

header {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
}

header nav {
  width: 100%;
  background-color: #202020;
  border-radius: 35px 35px 0 0;
}

header nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  margin: 10px;
  padding: 15px;
  border-radius: 15px;
}

header nav ul li:hover {
  background-color: #353535;
}

main .logo {
  display: flex;
  justify-content: center;
}

main .logo img:hover {
  transform: scale(1.15);
}

main .logo img {
  transition: transform 0.4s;
  width: 220px;
  height: 200px;
}

main .title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: white;
}

main .content {
  display: flex;
  justify-content: center;
}

main .content .textBox {
  color: white;
  font-size: 18px;
  background-color: #202020;
  width: 300px;
  padding: 10px;
  border-radius: 15px;
}
