@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: #353535;
}

a:link {text-decoration: none;}
  
a:visited {text-decoration: none;}
  
a:hover {text-decoration: none;}
  
a:active {text-decoration: none;}

a:link, a:visited { color: white; }

  
header nav {
    position: fixed;
    top: 0;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    background-color: #202020;
    margin: 10px;
    border-radius: 15px;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}

header nav ul li:hover {
    background-color: #353535;
}

main .logo {
   display: flex;
   justify-content: center;
   margin-top: 80px; 
}

main .logo img:hover { transform: scale(1.15); }

main .logo img {
    transition: transform .4s;
    width: 220px;
    height: 200px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.cards {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: #202020;
    color: white;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 15px;
    transition: transform .2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.15);
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.username {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.follower-count, .post-count {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}
.social-name {
    font-size: 24px;
    color: #fff; /* Colore del testo */
    background-color: #007bff; /* Colore di sfondo */
    padding: 10px 0; /* Spazio verticale */
    margin-bottom: 15px;
    border-radius: 8px;
}
.separator {
    width: 100%;
    height: 2px;
    background-color: #ddd;
    margin-bottom: 10px;
}

#ig .social-name{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#tt .social-name {
    background-color: #EE1D52;
}

#tw .social-name {
    background-color: black;
}

#ds .social-name {
    background-color: #7289da;
}



















/* main .socialMenu {
    display: flex;
    justify-content: center;
    margin-top: 100px;   
} */

/* main .socialMenu .socials {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: #202020;
    text-align: center;
}

main .socialMenu .socials .social {
    font-size: 24px;
    border: solid white 0.1px;
    border-radius: 15px;
    padding: 15px 70px 15px 70px;
    margin: 10px;
    transition: transform .2s;
}

main .socialMenu .socials .social:hover { transform: scale(1.15); }

#insta:hover, #th:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#ds:hover {
    background-color: #7289da;
}

#tk:hover {
    background-color: #EE1D52;
}

#tw:hover {
    background-color: #00acee;
} */
